# inputs and outputs
example/*.html
_private
_env
_cache
_cache2
_db
_output
_tmp
temp
/input
/output
/files

# Buildout's directories
/bin
/develop-eggs
/eggs
/parts
/.installed.cfg
/downloads
/lib
/src
.mr.developer.cfg
.coverage
/cover

# Setuptools/Distribute's files
/*.egg
/*.egg-info
/dist
/build

# Python's precompiled files
*.pyc
*.pyo
*~
*.svg

# cython
*.so
/seqtool/**/*.c
/seqtool/**/*.cpp

# Sphinx's builds
/docs/_build

# backup files
*~
\#*
.\#*

# virtualenv
/env

# sublimetext
*.sublime-project
*.sublime-workspace
*.sublime-*

*.orig
*.ps
*.pdf
/desktop
TAGS
/bsindex
*_flymake.py
